################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Aurora CBP/obj
/Aurora CBP/bin/Debug/netcoreapp3.1
